<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781239493924-8168bdt3invccc86fbhebq7iges0qb38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781239493924-8168bdt3invccc86fbhebq7iges0qb38</string>
	<key>API_KEY</key>
	<string>AIzaSyCkmHZxF9HEtRTTlZFuBzJPSyqWizojLCY</string>
	<key>GCM_SENDER_ID</key>
	<string>781239493924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.booksearch</string>
	<key>PROJECT_ID</key>
	<string>booksearch-4314b</string>
	<key>STORAGE_BUCKET</key>
	<string>booksearch-4314b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781239493924:ios:c98dbca5a98e550f5f3fb1</string>
</dict>
</plist>